node-linker=isolated
strict-peer-dependencies=false
link-workspace-packages=true
auto-install-peers=true

# GitHub Packages configuration
@miguelspizza:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}